.juegos__bg {
  min-height: 100%;
  min-width: 400px;
  max-width: $maxWidth;
  height: 150vh;
  margin: 0 auto;
  h1{
    color: map-get($color, secondary );
    font-size: 40px;
  }
  .mario__bros{
    text-align: center;
    align-items: center;
    img{
      width: 150px;
    }
    .game__text {
      background-color: map-get($color, dark);
    }
    .game__text__li{
      background-color: map-get($color, light);
      p{
        color: map-get($color, secondary);
      }
    }
  }
  @media (min-width: 768px) {
    .juegos__bg {
      h1{
        font-size: 6vw;
      }
      }
  }
  }

