.char__bg {
  border: 5px;
  border-color: black;
  text-align: center;
  justify-content: center;
  height: 110vh;
  overflow: hidden;

  #slide-1 {
    @include character__slide(10px);
  }
  #slide-2{
    @include character__slide(10px);
  }
  #slide-3{
    @include character__slide(10px);
  }
  #slide-4{
    @include character__slide(10px);
    
  }
}
@media (min-width: 768px) {
  .char__bg {
    height: 95vh;
    #slide-1,#slide-2,#slide-3,#slide-4 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "content1 content2"
        "content3 content2";
      .char__img {
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 25px;
      }

      .char__text{
        background-color: map-get($color, dark);
      }
      .char__pros{
        .pros{
          border-radius: 25px;
          background-color: map-get($color,pros);
        }
        .cons{
          border-radius: 25px;
          background-color: map-get($color,cons);
        }
      }
    }
  }
}
