.char__bg {
  border: 5px;
  border-color: black;
  text-align: center;
  justify-content: center;
  height: $viewHeight;
  overflow: hidden;

  #slide-1 {
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "content1"
      "content2"
      "content3";
    .char__img {
      grid-area: content1;
      width: 300px;
      display: flex;
    }
    .char__content {
      grid-area: content2;
    }
    .char__pros {
      grid-area: content3;
      display: flex;
      justify-content: center;
      div {
        padding: 10px;
      }
    }
  }
}
@media (min-width: 768px) {
  .char__bg {
    #slide-1 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "content1 content2"
        "content3 content2";
      .char__img {
        width: auto;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
