@mixin img__content($area) {
  background-color: transparent;
  grid-area: $area;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 150px;
  }
  @media (min-width: 576px) {
    img {
      width: auto;
      height: auto;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
@mixin content__bg($none) {
  background: $none;
  background-image: repeating-linear-gradient(
      45deg,
      hsla(312, 0%, 63%, 0.05) 0px,
      hsla(312, 0%, 63%, 0.05) 10px,
      transparent 10px,
      transparent 100px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(312, 0%, 63%, 0.05) 0px,
      hsla(312, 0%, 63%, 0.05) 50px,
      transparent 50px,
      transparent 100px
    ),
    linear-gradient(90deg, hsl(80, 0%, 20%), hsl(80, 0%, 20%));
}

@mixin character__slide($num){
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "content1"
    "content2"
    "content3";
  .char__img {
    grid-area: content1;
    justify-self: center;
    width: 300px;
    display: flex;
   background-color: map-get($color, dark );
   img{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
   }
  }
  .char__content {
    grid-area: content2;
  }
  .char__pros {
    grid-area: content3;
    display: flex;
    justify-content: center;
    div {
      padding: 10px;
    }
  }
  
}