$colorPrimary: silver;
$colorSecondary: aqua;
$colorNavActive: lightblue;
$colorNavfocus: blue;
$colorBg: rgb(77, 77, 77);
$maxWidth: 1440px;
$boxSm: 300px;
$boxXl: 1200px;
$viewHeight: calc(100vh - 101.5px);
